<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

    <!-- Added the JQuery and Boostrap as CDN-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" data-name="vs/editor/editor.main" href="../node_modules/monaco-editor/min/vs/editor/editor.main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
<!--Naviagation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">CodeElite</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Menu 1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Menu 2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Menu 3 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Menu 4 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
         <a class="nav-link" href="#">Menu 5 <span class="sr-only">(current)</span></a>
       </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- Jumbotron Bootstrap Body for the Problem Statement-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Hello World!! Program</h1>
    <h2 class="display-5">Description:</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2 class="display-5">Constraints:</h2>
    <p class="lead"> 1&ltT&lt10 <br>
                    0&ltI&lt10 <br>
                    0&ltJ&lt100</p>
    <h2 class="display-5">Input Format:</h2>
    <p class="lead"><ul>
        <li>The First Line Consists of Test Cases</li>
        <li>The Second Line Consists of Number of elements</li>
        <li>THe third line consists of Range of each element</li>
    </ul></p>
    <h2 class="display-5">Output Format:</h2>
    <p class="lead">Output a Single Number which is the minimum element of the list</p>
    <h2 class="display-5">Sample Input:</h2>
    <p class="lead">1<br>
    5 <br>
    1 2 3 4 5 </p>
    <h2 class="display-5">Sample Output:</h2>
    <p class="lead">1 </p>
  </div>
</div>
<!-- A container to place the Code Editor-->
<div id="some" style="width:1200px;height:600px;border:1px solid grey;padding:auto;margin:auto;display:block">
<form action="/executecode" method="POST" id="form1">
<textarea type="text" name="scode" id="textfield" value="{{.Code}}" rows="25" cols="131"></textarea>
<br>
<br>
<textarea type="text" name="scode_input" id="textfield_two"  rows="4" cols="20"></textarea>
</form>
<button type="submit" style="margin-left:350px" class="btn btn-primary btn-lg" form="form1" value="Submit">Submit</button>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<p id="codist" style="display: block;background-color: grey; font-size: 24px">{{.Output}}</p>


<!-- Creating Object for monaco-editor and embbeding it to the above container-->
<script>var require = { paths: { 'vs': '../node_modules/monaco-editor/min/vs' } };</script>
<script src="../node_modules/monaco-editor/min/vs/loader.js"></script>
<script src="../node_modules/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
<script src="../node_modules/monaco-editor/min/vs/editor/editor.main.js"></script>

<script>
	/*var editor = monaco.editor.create(document.getElementById('container'), {
		value: [
			'function x() {',
			'\tconsole.log("Hello world!");',
			'}'
		].join('\n'),
		language: 'C'
	});*/
    //monaco.editr.BuiltinTheme("vs-dark");
    //monaco.editor.setModelLanguage(editor.getModel(), "Python");

   /* function sendCode(){
        var data = document.getElementById("container2").value;
        //window.editor.getValue();
        var  code_obj = {
          code : data 
        };
        code_source_json = JSON.stringify(code_obj);
        //document.getElementById('codist').innerHTML = code;
        var req = new XMLHttpRequest();
        req.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200){
                document.getElementById('codist').innerHTML = this.responseText;
            }
        };
        req.open("POST","/executecode", true );
        req.send(code_source_json);
        return 1;

    }
*/
</script>

    </body>
</html>
